<div ng-controller="dashboardController">
  <div class="jumbotron text-center">
  	<h1>{{title}}</h1>

    <div class="input-group">
      <input type="text" class="form-control" ng-keydown="$event.keyCode == 13 && searchClick()" placeholder="Search Ticker" ng-model="query">
      <span class="input-group-addon"  ng-click="searchClick()">Search</span>
    </div>
  </div>

  <table class="table" ng-repeat="a in [0,1,2,3,4,5]">
    <thead>
      <th>{{stockArray[a].dataset_code}}</th>
    </thead>
    <tr>
      <td ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12]">{{stockArray[a].column_names[i]}}</td>
    </tr>
    <tr ng-repeat="j in [0]">
      <td ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12]">{{stockArray[a].data[j][i]}}</td>
    </tr>
  </table>

</div>
