<div ng-controller="portfolioController">
  <div class="jumbotron text-center">
  	<h1>{{title}}</h1>

    <div>
      <button type="button" class="btn btn-primary"  ng-click="searchClick()">Search</button>
    </div>
  </div>

  <div class="input-group">
      <input type="text" ng-focus="isStockAdded = false" class="form-control" placeholder="STOCK TICKER" ng-model="query" ng-keydown="$event.keyCode == 13 && addStock()">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="addStock()">ADD STOCK</button>
      </span>
  </div>

  <div class="mar-top-10" ng-show="isStockAdded">
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="isStockAdded = false"><span aria-hidden="true">&times;</span></button>
      <strong>{{query}}</strong> was added to your portfolio.
    </div>
  </div>

  <table class="table" ng-repeat="a in stockArray">
    <thead class="thead-default">
      <tr>
        <th><h4>{{a.dataset_code}} - </h4></th>
      </tr>
    </thead>
    <tr>
      <td ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12]">{{a.column_names[i]}}</td>
    </tr>
    <tr ng-repeat="j in [0]">
      <td ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12]">{{a.data[j][i]}}</td>
    </tr>
  </table>

</div>
